#!/bin/bash

if [[ $# -ne 1 ]]; then
  echo "invalid number of args"
  echo "usage: $0 topicname"
  exit 1
fi

TOPIC=$1

{{ kafka_home }}/bin/kafka-topics.sh --create --bootstrap-server localhost:9092 --topic $TOPIC
