#!/bin/bash

if [[ $# -ne 1 ]]; then
  echo "no topic provided as argument (only 1 accepted)"
  echo "describing all topics"
  {{ kafka_home }}/bin/kafka-topics.sh --bootstrap-server localhost:9092 --describe
  exit 0
fi

TOPIC=$1

{{ kafka_home }}/bin/kafka-topics.sh --bootstrap-server localhost:9092 --describe --topic $TOPIC
