#!/bin/bash

echo "Creating test topic....."
{{ kafka_home }}/bin/kafka-topics.sh --create --topic mytesttopic --bootstrap-server localhost:9092
echo ""
echo "Describe test topic....."
{{ kafka_home }}/bin/kafka-topics.sh --describe --topic mytesttopic --bootstrap-server localhost:9092
echo ""
echo "Produce test message into topic....."
echo "this is a test message on mytesttopic" | /opt/kafka/bin/kafka-console-producer.sh --bootstrap-server localhost:9092 --topic mytesttopic
echo ""
echo "Consume test message from topic....."
/opt/kafka//bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --topic mytesttopic  --from-beginning --max-messages 1
echo ""
echo "Congrats! If you got this far without errors, your standalone Kafka node is good to go!"
